[Desktop Entry]
Categories=Utility;
Comment=redict
Exec=/usr/bin/gxde-redict
Icon=redict
Name=Redict
StartupNotify=true
TryExec=redict
Type=Application
# Translations
Name[zh_CN]=Redict
