[Desktop Entry]
Categories=Utility;
Comment=redict
Exec=/opt/apps/store.spark-app.redict-dtk5/files/bin/redict
Icon=redict
Name=Redict
StartupNotify=true
TryExec=redict
Type=Application

# Translations
Name[zh_CN]=Redict
