[Desktop Entry]
Categories=Utility;
Comment=redict
Exec=/home/home/Desktop/opt/apps/com.gitee.superendermansm.redict-dtk5/files/bin/redict
Icon=redict
Name=Redict
StartupNotify=true
TryExec=redict
Type=Application

# Translations
Name[zh_CN]=Redict
