#!/usr/bin/make -f

export QT_SELECT=5

VERSION ?= $(shell dpkg-parsechangelog -ldebian/changelog -SVersion | awk -F'-' '{print $$1}')

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- DEFINES+="VERSION=$(VERSION)"
override_dh_installdocs:
	mkdir -p debian/com.gitee.superendermansm.redict-dtk5/opt/apps/com.gitee.superendermansm.redict-dtk5/files/
	cp debian/copyright debian/com.gitee.superendermansm.redict-dtk5/opt/apps/com.gitee.superendermansm.redict-dtk5/files/
	rm -rf debian/com.gitee.superendermansm.redict-dtk5/usr/
	rm -f debian/com.gitee.superendermansm.redict-dtk5/DEBIAN/md5sums
