Package: com.gitee.superendermansm.redict-dtk5-dbgsym
Source: com.gitee.superendermansm.redict-dtk5
Version: 0.8.1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: shenmo <jifengshenmo@outlook.com>
Installed-Size: 84
Depends: com.gitee.superendermansm.redict-dtk5 (= 0.8.1)
Section: debug
Priority: optional
Description: debug symbols for com.gitee.superendermansm.redict-dtk5
Build-Ids: 08e8334143d26d8c3a1847b72facaa9645c71888
